<!doctype html>
<html>
    <head>
        <title>About <%=webName%></title>
        <link rel="stylesheet" type="text/css" href="/main.css" />
    </head>
    <body>
        <h1>About <%=webName%></h1>
        <p>We offer a wide range of subjects to learn and teach, making education accessible and personalized for everyone.</p>
        <p>If you need any support please email tutors4you@exmaple.com.</p>
    </body>
</html>