<!doctype html>
<html>
  <head>
    <title>Welcome to <%=webName%></title>
    <link rel="stylesheet"  type="text/css" href="/main.css" />
  </head>
  <body>
    <h1>Welcome to <%=webName%></h1>
    <div class="button-container">
        <p><a href="about" class="btn">About <%=webName%></a></p>
        <p><a href="search" class="btn">Search for a Subject</a></p>
        <p><a href="subjects" class="btn">Lists of Subject</a></p>
        <p><a href="addsubjects" class="btn">Add a Subject</a></p>
        <p><a href="register" class="btn">Register with us</a></p>
    </div>
  </body>
</html>
