<!doctype html>
<html>
  <head>
    <title>Search <%=webName%></title>
    <link rel="stylesheet"  type="text/css" href="/main.css" />
  </head>
  <body>
    <h1>Search <%=webName%></h1>
    <form action="/searchresult" method="GET">
      <p>What Subject are you looking for?</p>
      <input id="search-box" type="text" name="keyword" value="Default">
      <input type="submit" value="Search" >
    </form>
  </body>
</html>