<!doctype html>
<html>
    <head>
        <title>About <%=webName%></title>
        <link rel="stylesheet" type="text/css" href="/main.css" />
    </head>
    <body>
        <h1>The <%=webName%> Site</h1>
        <p>Here are some subjects we offer.</p>
        <table class="subjects-table">
            <thead>
                <tr>
                    <th>Subject</th>
                    <th>Level</th>
                    <th>Price</th>
                    <th>Duration</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>English</td>
                    <td>Beginner</td>
                    <td>£10</td>
                    <td>1.5h</td>
                </tr>
                <tr>
                    <td>Maths</td>
                    <td>Intermediate</td>
                    <td>£20</td>
                    <td>1h</td>
                </tr>
                <tr>
                    <td>Science</td>
                    <td>Advanced</td>
                    <td>£40</td>
                    <td>2h</td>
                </tr>
                <tr>
                    <td>Chinese</td>
                    <td>Beginner</td>
                    <td>£25</td>
                    <td>1h</td>
                </tr>
                <tr>
                    <td>Computing</td>
                    <td>Intermediate</td>
                    <td>£30</td>
                    <td>2h</td>
                </tr>
            </tbody>
        </table>
    </body>
</html>
